[class*="col-"]
{width: 100%;
  }
@media only screen and (min-width: 768px) {
  [class*="col-"]{
    float: left;
    padding: 15px;
      }
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    p, li{
      font-size: 20px;
    }
    h1, h2{
      font-size: 30px;
    }
  }
ul{
  padding: 5px 20px;
}
body, ul{
  margin: 0px;
}
h1, h2{
  font-family: "Sofia", sans-serif;
  text-align: center;
  margin: auto;
}
header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(dordrecht.jpg);
  height: 300px;
  background-size: cover;
}
.achtergond{
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  height: 15%;
}
footer{
  display: block;
  align-items: center;
  font-style: oblique;
  color: red;
}
.rechterpaneel{
  background-color: lightblue;
  float: right;
}
li{
  font-style: italic;
  padding: 2px 0px;
}
.attractie{
  margin: 5px 0px;
  float: right;
  max-width: 50%;
  display: inline-block;
  max-height: 100%;
}
@media only screen and (max-width: 768px) {
  .attractie{display: none;}
}
p{
  padding: 5px;
  margin: 0px;
}
img:hover{
  height: 100%;
}
.artikel2{
  margin-top: 5px;
}
