body{
  margin: 0;
  padding: 5px;
  background-color: #FFFFF0;
  text-align: center;
  }
header{
  background-color: lightblue;
  height: auto;
  width: 100%;
  }
table{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    text-align: left;
    table-layout: fixed;
    margin-top: 20px;
    margin-bottom: 20px;
}
.navigatie{
  color: white;
  width: 100px;
  padding: 40px 10px 40px 10px;
  display: inline-block;
  background-color: inherit;
}
a.navigatie:hover{
  color: black;
  background-color: white;
}
.profielfoto{
  height: 300px;
  width: auto;
  display: inline-block;
  margin: 15px 0 0 10px;
}
h1{
  margin: 10px 0 5px 0;
}
.alinea{
  display: inline-block;
  width: 60%;
  margin: 0 0 0 20px;
  text-align: left;
}
p{
  margin: 0;
}
footer{
background-color: lightblue;
display: block;
margin-top: 20px;
padding: 5px;
color: white;
}
button{
  font-family: inherit;
  font-size: inherit;
  margin: 10px;
  height: 40px;
  width: 150px;
  border-radius: 4px;
  background-color: lightblue;
  border-color: green;
  border-style: solid;
  border-width: medium;
  border-width: 5px;
}
button:active{
  background-color: white;
  color:green;
}
input{
  font-family: inherit;
}
fieldset{
  width: 1000px;
  height: auto;
  border: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
legend{
  font-size: 30px;
  margin: 10px;
}
.middenstuk{
  display: inline-block;
  background-color: white;
  width: 1000px;
  padding: 5px;
}
